
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&display=swap');

:root{

    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    font-family: 'Montserrat', sans-serif;
}

a{

    text-decoration: none;

}

body{
    margin:0;
    padding:0;
    background:#e3e9f7;
    overflow-x: hidden;
}

.logo{
    padding:2vw;
}

nav ul{
    margin:0;
    padding:0;
    height:100%;
    width:20vw;
    position:fixed;
    top:0;
    left:0;
    background-color:#2B2A2E ;
    padding-left: 2%;
}

nav ul li{
    list-style:none;
}

nav .container{

    inset: 0;
}


nav ul li a{
    display:block;
    text-decoration:none;
    text-transform:capitalize;
    font-size:1.5vw;
    color:#fff;
    position:relative;
    padding:3% 3% 3% 3% ;
    transition:all 0.5s;
    font-weight: 300;
}

nav ul li h1{

    display:block;
    text-decoration:none;
    text-transform:capitalize;
    font-size:2vw;
    color:#fff;
    position:relative;
    padding:3% 3% 3% 3% ;
    font-weight: 700;
}

nav ul li h2{

    display:block;
    text-decoration:none;
    text-transform:capitalize;
    font-size:1vw;
    color:#fff;
    position:relative;
    padding:1vw 3vw 2vw 1vw ;
}

nav ul li a:before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:100%;
    background:#4D4C53;
    z-index:-1;
    transition:all 1s;
    font-weight: 600;

}

nav ul li a:hover{
    color:white;
}

nav ul li a:hover:before{
    width:100%;
}

.logo img{

    width: 70%;
}


.wrapper{
    margin-left:20vw;
}

.body{
    
    min-height:100vh;
}




.header .container-fluid{

    margin: 0px;
    padding: 0px ;
}


.header img {
    width: 100%;
    height: 50%;
}

.header {
    position: relative;
}


.header #header-text {
    position: absolute;
    top: 20%;
    left: 5%;

    color: aliceblue;
}

.header #header-text h1{
    
    font-size: 4vw;
}

.header #header-text h2{
    
    font-size: 2vw;
}

.body{

    padding-top: 2vw;
}

.body h2{

    font-weight: 700;
    font-size: 2.5vw;
    text-align: center;
}

.body h2,h3{

    margin-bottom: 5vw;
}

.body h3{

    margin-top: 3vw;
}



.wrapper-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

#sections {
    align-self: start;
    display: flex;
    flex-direction: column;
}

#socialmedia {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1.5vw;
    
}