/* Text color */

.text-accent-orange-500 {
  color: var(--accent-orange-500);
}

.text-secondary-purple-300 {
  color: var(--secondary-purple-300);
}
.text-secondary-purple-400 {
  color: var(--secondary-purple-400);
}
.text-secondary-purple-500 {
  color: var(--secondary-purple-500);
}

.text-neutral-gray-200 {
  color: var(--neutral-gray-200);
}
.text-neutral-gray-300 {
  color: var(--neutral-gray-300);
}
.text-neutral-gray-500 {
  color: var(--neutral-gray-500);
}

/* Background color */

.bg-accent-orange-500 {
  background-color: var(--accent-orange-500);
}

.bg-secondary-purple-300 {
  background-color: var(--secondary-purple-300);
}
.bg-secondary-purple-400 {
  background-color: var(--secondary-purple-400);
}
.bg-secondary-purple-500 {
  background-color: var(--secondary-purple-500);
}
.bg-secondary-purple-900 {
  background-color: var(--secondary-purple-900);
}

.bg-profile-pic-background {
  background-color: var(--profile-pic-background);
}
