---
import ScrollToTopButton from "../atoms/buttons/ScrollToTopButton.astro";
import Footer from "../organisms/Footer.astro";
import Main from "../organisms/Main.astro";
import Navbar from "../organisms/Navbar.astro";
---

<div>
  <Navbar />
  <div class="flex flex-col gap-8">
    <Main />
    <Footer />
  </div>
  <ScrollToTopButton />
</div>
