---
interface Props {
  title?: string;
  id?: string;
  display?: "grid" | "flex";
}

const { title, id, display } = Astro.props;
---

<section class="w-full" id={id}>
  {
    title && (
      <h2 class="text-2xl md:text-3xl 2xl:text-5xl font-bold mb-8 text-left text-(--secondary-purple-400)">
        {title}
      </h2>
    )
  }
  <div class={display === "grid" ? "grid-display" : "flex-display"}>
    <slot />
  </div>
</section>

<style>
  @reference "tailwindcss";

  .flex-display {
    @apply flex flex-col gap-6 w-full justify-center items-center;
  }
  .grid-display {
    @apply grid grid-cols-1 sm:grid-cols-2 gap-6 w-full justify-center items-start;
  }
</style>
