---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

interface Props {
  label: string;
  url: string;
  iconPath?: ImageMetadata;
  openInNewTab?: boolean;
}

const { label, url, iconPath } = Astro.props as Props;
---

<a
  class="footer-item footer-link"
  href={url}
  target="_blank"
  rel="noopener noreferrer"
>
  {
    iconPath ? (
      <Image
        src={iconPath}
        alt={label}
        width={20}
        height={20}
        loading="lazy"
        decoding="async"
        class="footer-icon"
      />
    ) : null
  }

  <p class="footer-text">
    {label}
  </p>
</a>
