---
import SectionTemplate from "../templates/SectionTemplate.astro";
import Experience from "./Experience.astro";
import Home from "./Home.astro";
import Projects from "./Projects.astro";
---

<main class="flex flex-col gap-y-16 max-w-7xl mx-auto p-4">
  <Home />

  <SectionTemplate title="ðŸ’¼ Experience">
    <Experience />
  </SectionTemplate>

  <SectionTemplate title="ðŸ—ï¸ Projects">
    <Projects />
  </SectionTemplate>
</main>
